
<!DOCTYPE html>
<html>
<head>
<title>Meta Business Manager and Looker Studio Connector</title>
</head>
<body>
<h1>Connect Meta Business Manager and Looker Studio</h1>
<form action="/connect" method="post">
<label for="meta_business_manager_id">Meta Business Manager ID:</label>
<input type="text" name="meta_business_manager_id" id="meta_business_manager_id">
<br>
<label for="looker_studio_id">Looker Studio ID:</label>
<input type="text" name="looker_studio_id" id="looker_studio_id">
<br>
<input type="submit" value="Connect">
</form>
</body>
</html>


